.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  margin-bottom: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
