.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-container {
  display: flex;
  flex-direction: column;
}

.headers-container {
  display: flex;
  justify-content: center;
}

.header {
  width: 160px;
  font-weight: bold;
}

.users {
  display: flex;
  justify-content: center;
}

.user-info {
  width: 200px;
}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  width: 30px;
  color: blue;
  margin-top: 20px;
}

.active {
  font-weight: bold;
}
