.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  text-decoration: none;
}

.home button,
.protected button {
  background: none;
  border: 1px solid navy;
  color: navy;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  font-weight: bold;
}

.home button:hover,
.protected button:hover {
  background: navy;
  color: #fff;
}

.protected {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.protected > div {
  margin-bottom: 1rem;
}

.captcha-container {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.captcha-container > button {
  padding: 0;
  border: none;
}

img {
  width: 200px;
  height: 200px;
}

button {
  cursor: pointer;
}
