.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timers {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
