.App {
  text-align: center
}

.quiz-container {
  height: 100%;
  width: 100%;

}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 50%;
}

li {
  cursor: pointer;
  width: 100%;
}

li:hover {
  background-color: rgba(0,0,0,0.1);
}

li:active {
  background-color: rgba(0,0,0,0.4);
}
