.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
}

.clear {
  margin-left: 15px;
}

.my-function {
  margin-top: 20px;
  text-align: center;
}

.my-function > div {
  margin-bottom: 15px;
}
